{% if link.links != blank %}
  <li class="mobile-nav__item {% if count != blank %}animation-sequence-{{ count }}{% endif %} {% if link.active %}mobile-nav__item--active{% endif %}" aria-haspopup="true">
    <div class="mobile-nav__has-sublist">
      <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
      <button type="button" class="icon-fallback-text mobile-nav__toggle">
        <svg><use xlink:href="#icon-dropdown"></use></svg>
        <span class="fallback-text">See More</span>
      </button>
    </div>

    <ul class="mobile-nav__sublist">
      {% assign count = 0 %}
      {% for link in link.links %}
        {% include "drawer-nav-menu" %}
        {% assign count = count | plus: 1 %}
      {% endfor %}
    </ul>
  </li>

{% else %}
  <li class="mobile-nav__item {% if count != blank %}animation-sequence-{{ count }}{% endif %} {% if link.active %}mobile-nav__item--active{% endif %}">
    <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
  </li>
{% endif %}
