{% if id_suffix != blank %}
  {% capture media_id %}{{ media.id }}-{{ id_suffix }}{% endcapture %}
{% else %}
  {% capture media_id %}{{ media.id }}{% endcapture %}
{% endif %}

{% if video_loop == blank %}
  {% capture video_loop %}true{% endcapture %}
{% endif %}

<div
  class="interactive-media"
  data-media-type="{{ media.media_type }}"
  data-media-id="{{ media_id }}"
  {% if media.media_type == 'video' %}
    data-poster="https:{{ media | img_url: '2000x' }}"
    data-loop="{{ video_loop }}"
  {% endif %}>
  {% case media.media_type %}
  {% when 'model' %}
    {{ media | model_viewer_tag: image_size: '1000x', reveal: 'interaction', toggleable: true }}
  {% when 'video' %}
    {{ media | video_tag }}
  {% when 'external_video' %}
    {{ media | external_video_tag }}
  {% endcase %}
</div>
