{% assign blog = blogs[section.settings.blog] | default: blogs.news | default: false %}

{% assign heading = section.settings.blog_title | default: false %}

<div id="featured-blog" class="grid--full image-gutters--{{ settings.image_gutter }}">
  {% if heading %}
    <h1 class="featured-title">
      {{ heading }}
    </h1>
  {% endif %}

  {% if blog and blog.articles_count >= 1 %}
    {% for article in blog.articles limit: 4 %}
      <div class="grid__item large--one-quarter medium--one-quarter small--one-whole animation-sequence-{{ forloop.index0 }}">
        {% if article.image %}
          {% include "filter-rias-img-url-with-height" input: article.image %}
          {% assign image_url = output %}

          <a href="{{ article.url }}" tabindex="0">
            <div class="featured-blog__image-wrapper">
              <div class="box-ratio--1-1 image-placeholder-cover">
                <img
                  data-src="{{ image_url }}"
                  data-ratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  class="lazyload lazyload-fade"
                  alt="{{ article.image.alt | escape }}">

                <noscript>
                  <img src="{{ article.image | img_url: '800x' }}" />
                </noscript>
              </div>
            </div>
          </a>
        {% endif %}

        <div class="featured-blog__caption small--text-center text-wrapper">
          <p class="meta-info">{{ article.published_at | date: "%B %d, %Y"  }}</p>

          <a href="{{ article.url }}">
            <h6 class='featured-blog__title'>{{ article.title }}</h6>
          </a>

          <span class="excerpt">
            {% comment %}This excerpt is further adjusted in the JS{% endcomment %}
            <p>{{ article.excerpt_or_content | strip_html | truncatewords: 40 }}</p>
          </span>

          <span class="blog-info">
            <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
          </span>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% for i in (1..3) %}
      <div class="grid__item large--one-third medium--one-third small--one-whole animation-sequence-{{ forloop.index0 }}">
        <div class="featured-blog__caption small--text-center text-wrapper">
          <p class="meta-info">
            {{ 'now' | date: "%B %d, %Y"  }}
          </p>
          <a href="#">
            <h4 class="featured-blog__title">{{ 'homepage.onboarding.blog_title' | t }}</h4>
          </a>

          <p class="excerpt">
            {{ 'homepage.onboarding.blog_excerpt' | t }}
          </p>

          <span class="blog-info">
            <a href="#">{{ 'blogs.article.read_more' | t }}</a>
          </span>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Blog posts",
    "class": "featured-blog",
    "settings": [
      {
        "type": "text",
        "id": "blog_title",
        "label": "Heading"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog"
      }
    ]
  }
{% endschema %}
