{% assign product = all_products[section.settings.product] | default: false %}

{% if product %}

  {% assign current_variant = product.selected_or_first_available_variant %}

  <div
    data-product-container
    class="featured-product-inner"
    itemscope
    itemtype="http://schema.org/Product"
    {% if current_variant.media %}
      data-initial-image-position="{{ current_variant.media.position | json | minus: 1 }}"
    {% endif %}
    data-shop-default-currency="{{ shop.currency }}"
    data-product-options-size="{{ product.options.size }}"
    data-product-options-first="{{ product.options.first }}"
    data-product-variants-size="{{ product.variants.size }}"
    data-product-variants-first="{{ product.variants.first.title }}">

    <script data-product-json type="application/json">
      {{ product | json }}
    </script>

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_media | img_url: 'grande' }}">

    <div class="grid--inline product-single">

      <div class="grid__item xxlarge--one-half xlarge--one-half large--one-half" id="PhotoContent">

        <div class="product-single__photos large--one-whole">
          <div class="image-container">
            {% if product.media != blank %}
              {% assign media = product.media | first %}

              {% if media.media_type == 'image' %}
                {% include "filter-rias-img-url" input: media %}
                {% assign image_url = output %}

                <img
                  data-src="{{ image_url }}"
                  data-sizes="auto"
                  class="lazyload lazypreload lazyload-fade product-media-item"
                  id="ProductPhotoImg"
                  alt="{{ media.alt | escape }}"
                  data-media-id="{{ media.id }}">

                  {% case media.media_type %}
                  {% when 'external_video', 'video' %}
                    <div class="media-badge video"></div>
                  {% when 'model' %}
                    <div class="media-badge model"></div>
                  {% endcase %}

                <noscript>
                  <img src="{{ media | img_url: '1000x' }}" alt="{{ media.alt }}" />
                </noscript>
              {% else %}
                {% include 'interactive-media' with
                  media: media
                  video_loop: section.settings.enable_video_looping  %}
              {% endif %}
            {% else %}
              <img src="//cdn.shopify.com/s/images/themes/product-1.png">
            {% endif %}
          </div>
        </div>

      </div>

      <div class="grid__item xxlarge--one-half xlarge--one-half large--one-half" id='sidebarColumn'>
        <div class="sidebarColumn-inner">
          <div class="content-wrapper--title js-fix-on-scroll--target fix-on-scroll--large-only">

            <h1 itemprop="name" class='medium-down--text-center product-title'>
              <a href="{{ product.url }}">{{ product.title }}</a>
            </h1>

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

              <div class="product-form form-vertical">
                {% form 'product', product %}
                  <p class="medium-down--text-center">
                    <span class='faded medium-down--text-center money' itemprop="price" data-product-price>
                      {% if settings.currency_format == "money_format" %}
                        {{ current_variant.price | money }}
                      {% else %}
                        {{ current_variant.price | money_with_currency }}
                      {% endif %}
                    </span>
                    {% if product.compare_at_price_max > product.price %}
                      <span class='strikethrough faded medium-down--text-center money' data-compare-price>
                        {% if settings.currency_format == "money_format" %}
                          {{ current_variant.compare_at_price | money }}
                        {% else %}
                          {{ current_variant.compare_at_price | money_with_currency }}
                        {% endif %}
                      </span>
                    {% endif %}
                  </p>

                  <div class="product-selectors">
                    <select name="id" id="productSelect-{{ product.id }}" class="product-single__variants">
                      {% for variant in product.variants %}
                        {% if variant.available %}
                          <option {% if variant == current_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">
                            {{ variant.title }} - {{ variant.price | money_with_currency }}
                          </option>
                        {% else %}
                          <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                          </option>
                        {% endif %}
                      {% endfor %}
                    </select>

                    <label for="Quantity" class="quantity-selector">
                      {{ 'products.product.quantity' | t }}
                    </label>

                    <input type="number" name="quantity" value="1" min="1" class="quantity-selector" autocomplete="off">

                    <button type="submit" name="add" class="btn {% if section.settings.enable_payment_button %}btn-secondary{% endif %}">
                      <span data-add-to-cart-text>{{ 'products.product.add_to_cart' | t }}</span>
                    </button>

                    {% if section.settings.enable_payment_button %}
                      {{ form | payment_button }}
                    {% endif %}
                  </div>
                {% endform %}
              </div>
            </div>

            <div class="product-description-wrapper">
              <div class="product-description rte" id="description" itemprop="description">
                {{ product.description | strip_html }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% else %}

  {% assign settings_url = shop.url | append: '/admin/themes/' | append: theme.id | append: '/editor' %}

  <div class="featured-product-inner">
    <div class="grid--inline product-single">

      <div class="grid__item xxlarge--one-half xlarge--one-half large--one-half text-center" id="PhotoContent">
        <div class="product-single__photos large--one-whole">
          <div class="image-container">
            <img src="//cdn.shopify.com/s/images/themes/product-1.png">
          </div>
        </div>
      </div>

      <div class="grid__item xxlarge--one-half xlarge--one-half large--one-half" id='sidebarColumn'>
        <div class="sidebarColumn-inner">
          <div class="content-wrapper--title js-fix-on-scroll--target fix-on-scroll--large-only">

            <h1 itemprop="name" class='medium-down--text-center product-title'>
              <a href="{{ settings_url }}">{{- "homepage.onboarding.featured_product_title" | t -}}</a>
            </h1>

            <p class="medium-down--text-center">
              <span id="ProductPrice" class="medium-down--text-center">
                $0.00
              </span>
            </p>

            <div class="product-description-wrapper">
              <div class="product-description rte" id="description">
                {{- "homepage.onboarding.featured_product_description" | t -}}
              </div>

              <a class="btn" href="{{ settings_url }}">{{ "homepage.onboarding.theme_settings" | t }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Featured product",
    "class": "featured-product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "id": "enable_video_looping",
        "type": "checkbox",
        "label": "Enable video looping",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
  }
{% endschema %}
