{% assign address = false %}
{% assign apiKey = false %}
{% assign hasImage = false %}
{% assign loadMap = false %}

{% if section.settings.google_address != blank %}
  {% assign address = true %}
{% endif %}
{% if section.settings.apiKey != blank %}
  {% assign apiKey = true %}
{% endif %}
{% if section.settings.image_fallback != blank %}
  {% assign hasImage = true %}
  {% assign image = section.settings.image_fallback %}
  {% assign image_small = image | img_url: '700x', scale: 2 %}
  {% assign image_medium = image | img_url: '840x', scale: 2 %}
  {% assign image_xlarge = image | img_url: '1000x', scale: 2 %}
  {% assign image_xxlarge = image | img_url: '1440x', scale: 2 %}
{% endif %}
{% if address and apiKey %}
  {% assign loadMap = true %}
{% endif %}

{%- capture mapSetup -%}
  {%- if hasImage -%}
    class="map-inner lazyload"
    data-bgset="{{ image_small }} [--small] | {{ image_medium }} [--medium] | {{ image_xlarge }} [--xlarge] | {{ image_xxlarge }} [--xxlarge]"
    data-sizes="auto"
  {%- else -%}
    class="map-inner"
  {%- endif -%}
{%- endcapture -%}

<div {{ mapSetup }}>
  {% if loadMap %}
    <div
      class="map-container"
      id="map-{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-map-api="{{ section.settings.apiKey | escape }}"
      data-map-address="{{ section.settings.google_address | escape }}"
      data-map-hours="{{ section.settings.hours | escape }}"
      data-map-style="{{ section.settings.mapJSON | escape }}"
    ></div>
  {% endif %}
  

  {% assign heading = section.settings.heading %}
  {% assign address = section.settings.address %}
  {% assign hours = section.settings.hours %}

  {% if heading != blank or address != blank or hours != blank %}
    <div class="map-info-wrapper">
      <div class="map-info">

        {% if section.settings.image != blank %}
          <figure class="map-image">
            {% include "filter-rias-img-url" input: section.settings.image %}
            {% assign image_url = output %}

              <img
                data-src="{{ image_url }}"
                data-sizes="auto"
                class="lazyload lazyload-fade"
                alt="{{ image.alt | escape }}">
          </figure>
        {% endif %}

        <div class="map-directions">
          <a
            class="btn"
            href="https://maps.google.com?daddr={{ section.settings.google_address | url_param_escape }}"
            target="_blank"
          >
            {{- "page.sections.get_directions" | t -}}
          </a>
        </div>

        {% if heading != blank or address != blank %}
          <div class="map-address">
            <strong>{{ section.settings.heading | escape }}</strong>
            {{ section.settings.address }}
          </div>
        {% endif %}

        {% if hours != blank %}
          <div class="map-hours">{{ section.settings.hours }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Map",
    "class": "map",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "address",
        "label": "Address"
      },
      {
        "type": "richtext",
        "id": "hours",
        "label": "Hours"
      },
      {
        "type": "text",
        "id": "google_address",
        "label": "Map address",
        "info": "Google Maps will find the exact location"
      },
      {
        "type": "text",
        "id": "apiKey",
        "label": "Google Maps API key",
        "info": "You’ll need to register a [Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map."
      },
      {
        "type": "image_picker",
        "id": "image_fallback",
        "label": "Image fallback",
        "info": "Displayed if the map isn't loaded"
      },
      {
        "type": "html",
        "id": "mapJSON",
        "label": "Custom map JSON",
        "info": "This area is for custom map styles. [Learn more](https://snazzymaps.com/help)"
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}
