<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
{% if cart.item_count > 0 %}
  <div class="content-wrapper--title">
    <form action="/cart" method="post" novalidate class="cart">
      <div class="text-center content-wrapper--horizontal section-header">
        <div class="display-table-cell">
          <h1>{{ 'cart.general.title' | t }}</h1>
        </div>
      </div>
      <div class="cart__row medium-down--hide cart__header-labels">
        <div class="grid">
          <div class="grid__item large--one-half">
            <div class="grid--full">
              <div class="grid__item one-half push--one-half">
                {{ 'cart.label.product' | t }}
              </div>
            </div>
          </div>
          <div class="grid__item large--one-half">
            <div class="grid--full">
              <div class="grid__item one-third text-center">
                {{ 'cart.label.price' | t }}
              </div>
              <div class="grid__item one-third text-center">
                {{ 'cart.label.quantity' | t }}
              </div>
              <div class="grid__item one-third text-right">
                {{ 'cart.label.total' | t }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %}
        Loop through products in the cart
      {% endcomment %}
      {% for item in cart.items %}
        {% assign image = item.image %}

        {% include "attribute-media-box-ratio" %}

        {% if image %}
          {% assign image_url = image | img_url: '400x' %}
        {% else %}
          {% assign image_url = "//cdn.shopify.com/s/images/themes/product-1.png" %}
        {% endif %}

        <div class="cart__row">
          <div class="grid--full cart__row--table-large">
            <div class="grid__item large--one-half">
              <div class="grid">
                <div class="grid__item one-half">
                  <a href="{{ item.url | within: collections.all }}" class="image-container image-placeholder box-ratio" style="padding-bottom: {{ media_box_ratio }};">
                    <img
                      data-src="{{ image_url }}"
                      class="lazyload lazyload-fade"
                      alt="{{ item.title | escape }}">

                    <noscript>
                      <img src="{{ image | img_url: '400x' }}" alt="{{ image.alt | escape }}">
                    </noscript>
                  </a>
                </div>
                <div class="grid__item one-half">
                  <a href="{{ item.url }}" class="h4 no-hover">
                    {{ item.product.title }}
                  </a>
                  {% unless item.variant.title contains 'Default' %}
                    <small>{{ item.variant.title }}</small>
                  {% endunless %}
                  {% if settings.cart_vendor_enable %}
                    <p>{{ item.vendor }}</p>
                  {% endif %}
                  <span class="h3 large--hide">{{ item.price | money }}</span>
                  {% comment %}
                    Optional, loop through custom product line items if available

                    For more info on line item properties, visit:
                      - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                  {% endcomment %}
                  {% assign property_size = item.properties | size %}
                  {% if property_size > 0 %}
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {{ p.first }}:
                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                        <br>
                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                    <small class='accent bold'>{{ 'cart.general.remove' | t }}</small>
                  </a>
                </div>
              </div>
            </div>
            <div class="grid__item large--one-half">
              <div class="grid--full cart__row--table-large">
                <div class="grid__item one-third text-right medium-down--hide">
                  <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
                  {% if item.original_price > item.final_price %}
                    <span class="h3"><s>{{ item.original_price | money }}</s></span>
                    <span class="h3 discount-cart-title">{{ item.final_line_price | money }}</span>
                  {% else %}
                    <span class="h3">{{ item.original_price | money }}</span>
                   {% endif %}
                    {%- if item.line_level_discount_allocations != blank -%}
                      {%- for discount_allocation in item.line_level_discount_allocations -%}
                     <span class="h3 discount-cart-title"> {% include 'icon-saletag'%}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</span>
                      {% endfor %}
                  	{% endif %}


                </div>
                <div class="grid__item one-third medium-down--one-whole text-center js-qty">

                  {% comment %}

                  Problem: when cart__mini-labels becomes visible
                  it stretches the input because it's container div is now higher.

                  {% endcomment %}
                  <span class="cart__mini-labels medium-down--one-half medium-down--text-left">{{ 'cart.label.quantity' | t }}</span>

                 <div class="medium-down--floatL">
                    <input class='medium-down--one-half medium-down--text-right' type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
                 </div>

                </div>
                <div class="grid__item one-third medium-down--one-whole text-right">
                  <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                  {% if item.original_line_price != item.final_line_price %}
                  <span class="h3"><s>{{ item.original_line_price | money }}</s></span>
                  <span class="h3">{{ item.final_line_price | money }}</span>
                  {% else %}
                  <span class="h3">{{ item.original_line_price | money }}</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="cart__row">
        <div class="grid">
          {% comment %}
            Optional, add a textarea for special notes
              - Your theme settings can turn this on or off. Default is on.
              - Make sure you have name="note" for the message to be submitted properly
          {% endcomment %}
          {% if settings.cart_notes_enable %}
            <div class="grid__item large--one-half">
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item text-right{% if settings.cart_notes_enable %} large--one-half{% endif %}">
             {% if cart.cart_level_discount_applications != blank %}
				{% for discount_application in cart.cart_level_discount_applications %}
                  <p>
                    <span class="cart__subtotal-title discount-cart-title">{% include 'icon-saletag'%}{{ discount_application.title }}</span>
                    <span class="h3 cart__subtotal discount-cart-title">-{{ discount_application.total_allocated_amount | money }}</span>
                  </p>
              {% endfor %}
            {% endif %}
            <p>
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
            </p>

            <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>

              <input type="submit" name="update" class="btn update-cart small--btn--full" value="{{ 'cart.general.update' | t }}">

              <input type="submit" name="checkout" class="btn small--btn--full" value="{{ 'cart.general.checkout' | t }}">

            {% if additional_checkout_buttons %}
            <div>
              <div class='additional-checkout-buttons'>
                {{ content_for_additional_checkout_buttons }}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
    </div>
{% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
  <div class="grid--full">
    <div class="grid__item large--two-thirds push--large--one-sixth ">
      <div class="text-center content-wrapper--horizontal section-header">
        <div class="display-table-cell">
          <h1>{{ 'cart.general.title' | t }}</h1>
        </div>
      </div>
    </div>
    <hr class='hr--center'>
    <div class="grid__item large--two-thirds push--large--one-sixth three-quarters push--one-eighth">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
     </div>
  </div>
{% endif %}
<script>
jQuery('body').off('ajaxCart.afterCartLoad');
</script>
