<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Set grid_results to true and set search results as a grid instead of a list.
  This works well when your search is only for products.
{% endcomment %}
{% assign grid_results = false %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 10 %}
    <div class="grid--full text-max-width">
      <div>
        <div class="text-center content-wrapper--horizontal section-header">
          <div class="display-table-cell">

          {% if search.performed %}
            {% if search.results_count == 0 %}
              <h1 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
            {% else %}
              <h1 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
            {% endif %}
          {% else %}
            <h1 class="text-center">{{ 'general.search.title' | t }}</h1>
          {% endif %}

            <form action="/search" method="get" class='search-bar search-page' role="search">
                <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="grid__item search-page--input" aria-label="{{ 'general.search.placeholder' | t }}">
               <button class="btn" type="submit">{{ 'general.search.submit' | t }}</button>
            </form>

          </div>
        </div>
      </div>
        {% if search.performed %}
          {% if search.results_count > 0 %}
          <hr class='hr--center'>
          {% endif %}
          <div class="grid--full">
            {% for item in search.results %}
{%- comment -%} Wholesale Gorilla: do not delete unless app is uninstalled{%- endcomment -%}
{%- assign wsgTempProd = item -%}{%- assign wsgExclude = false -%}{%- if forloop.first == true -%}{%- assign wsgActive = false -%}{%- assign wsgActiveCustomer = false -%}
{%- include 'wsg-status' wsgStatusAction: 'init' | strip -%}{%- endif -%}{%- if wsgActive -%}{%- if wsgTempProd.object_type == 'product' -%}{%- include 'wsg-status' wsgStatusAction: 'col-item' | strip -%}{%- endif -%}{%- endif -%}{%- if wsgExclude -%} {%- continue -%} {%- endif -%}
{%- comment -%} end WSG {%- endcomment -%}
              {% comment %}
                Check if the product is on sale and set a variable to be used below.
              {% endcomment %}
              {% assign on_sale = false %}
              {% if item.compare_at_price > item.price %}
                {% assign on_sale = true %}
              {% endif %}
              {% comment %}
                Check if the product is sold out and set a variable to be used below.
              {% endcomment %}
              {% assign sold_out = true %}
              {% if item.available %}
                {% assign sold_out = false %}
              {% endif %}
              {% if grid_results == false %}
                <!-- begin list search results-->
                <div class="grid__item">
                  <div class="grid">
                    {% if item.featured_media %}
                      {% comment %}
                        We have a featured_media, so it's likely a product
                      {% endcomment %}
                      <div class="grid__item one-third">
                        <a href="{{ item.url }}" title="{{ item.title | escape }}">
                          {{ item.featured_media | img_url: '350x' | img_tag: item.featured_media.alt }}
                        </a>
                      </div>
                    {% endif %}


                    {% if item.image and item.object_type == 'article' %}
                      <div class="grid__item one-third">
                        <a href="{{ item.url }}" title="{{ item.title | escape }}">
                          {{ item.image | img_url: '350x' | img_tag: item.image.alt }}
                        </a>
                      </div>
                    {% endif %}
                    {% comment %}
                      If we don't have a featured_media, add a push-- class to keep the alignment the same
                    {% endcomment %}
                    <div class="grid__item two-thirds {% unless item.featured_media or item.image %}push--one-third{% endunless %}">
                      <h3>{{ item.title | link_to: item.url }}</h3>
                      {% if item.price %}
                        <p>
                          {% comment %}
                            You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                            if your variants have different prices.
                          {% endcomment %}
                          {% if on_sale %}
                            {% if item.price_varies %}
                              {% assign sale_price = item.price | money %}
                              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                            {% else %}
                              <strong>{{ 'products.product.on_sale' | t }}</strong><br>
                              <span itemprop="price">{{ item.price | money }}</span>
                            {% endif %}
                          {% else %}
                            {% if item.price_varies %}
                              {% assign price = item.price | money %}
                              <span itemprop="price">{{ 'products.general.from_text_html' | t: price: price }}</span>
                            {% else %}
                              <span itemprop="price">{{ item.price | money }}</span>
                            {% endif %}
                          {% endif %}
                          {% if sold_out %}
                            <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                          {% endif %}
                          {% if on_sale %}
                            <s>{{ item.compare_at_price | money }}</s>
                          {% endif %}
                        </p>
                      {% endif %}
                      {% comment %}
                        Get a brief excerpt of raw text from the page/product
                      {% endcomment %}
                      <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                    </div>
                  </div>
                  {% unless forloop.last %}<hr>{% endunless %}
                </div>
                <!-- //list search results-->
              {% else %}
                <!-- begin grid search results-->
                <div class="grid__item search-result large--one-third medium--one-third grid__image">
                  {% if item.featured_media %}
                  <div class="cell-wrapper">
                    <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                      {{ item.featured_media | img_url: 'large' | img_tag: item.featured_media.alt }}
                    </a>
                    </div>
                  {% endif %}
                  <h5>{{ item.title | link_to: item.url }}</h5>
                  {% if item.price %}
                    <p>
                      {% if on_sale %}
                        {% if item.price_varies %}
                          {% assign sale_price = item.price | money %}
                          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                        {% else %}
                          <strong>{{ 'products.product.on_sale' | t }}</strong>
                          <span itemprop="price">{{ item.price | money }}</span>
                        {% endif %}
                      {% else %}
                        {% if item.price_varies %}
                          {% assign price = item.price | money %}
                          <span itemprop="price">{{ 'products.general.from_text_html' | t: price: price }}</span>
                        {% else %}
                          <span itemprop="price">{{ item.price | money }}</span>
                        {% endif %}
                      {% endif %}
                      {% if sold_out %}
                        <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                      {% endif %}
                      {% if on_sale %}
                        <br><s>{{ item.compare_at_price | money }}</s>
                      {% endif %}
                    </p>
                  {% else %}
                    <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                  {% endif %}
                </div>
                <!-- //grid search results-->
              {% endif %}
            {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
            <hr>
            <div class="pagination">
              {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
            </div>
          {% endif %}

        {% endif %}
      </div>
{% endpaginate %}
